.header {
	position: absolute;
	left: 0;
	width: 100%;
	padding-top: 49px;

	&__inner {
    display: flex;
		align-items: center;
    justify-content: space-between;
	}

	&__link {
		display: flex;
		justify-content: space-between;
		padding: 14px 10px 14px 73px;
		line-height: 24px;
		border-radius: 5px;
		transform: translateY(11px);
		background-color: #FF6F00;
		color: #fff;

		@extend %inter-bold;
	}
	
	&__link-ic {
		margin-left: 34px;
    margin-right: 4px;
		stroke: #fff;
		fill: none;
		width: 25px;
		height: 25px;
	}
}
