@media (any-hover: hover) {
  .faq {
    &__item {
      &:hover {
        border-color: #FF6F00;
        cursor: pointer;

        .faq__item-title {
          color: var(--accent-color);
          transition: ease 0.2s color;
        }

        .faq__item-ic {
          stroke: var(--accent-color);
          transform: rotate(90deg);
          transition: ease 0.2s color, ease 0.2s    transform;
        }
      }
    }
}
}