@media (any-hover: hover) {
  .faq {
    &__item {
      &:hover {
        border-color: #FF6F00;
        cursor: pointer;

        .faq__item-title {
          color: var(--accent-color);
          transition: ease 0.2s color;
        }

        .faq__item-ic {
          stroke: var(--accent-color);
          transform: rotate(90deg);
          transition: ease 0.2s color, ease 0.2s    transform;
        }
      }
    }
}
}

@include laptop-xl {

  .first {
    min-height: 900px;
  }

  .ecomers {
    padding: 50px 0;
  }

  .info {
    &__title {
      font-size: 48px;
      line-height: 63px;
      padding-bottom: 40px;
    }

    &__title-accent {
      &::before {
        bottom: -40px;
      }
    }
  }

  .partners {
    &__box {
      display: block;
    }

    &__box-info {
      margin: 0 auto 10px;
      text-align: center;
    }
    
    &__images {
      justify-content: center;
    }
  }

  .video{
    margin-bottom: -23.4%;
    &__box {
      height: 550px;
    }
  }

  .achievements {
    &__container {
      padding-left: 15px;
    }

    &__inner {
      justify-content: space-around;
    }
  }
  .pricing {
    &__item {
      padding: 25px 30px;
    }

    &__item-range {
      font-size: 22px;
      margin-bottom: 10px;
    }

    &__item-price {
      font-size: 50px;
      line-height: 67px;
    }

    &__items .pricing__item {
      margin-right: 20px;
    }

    &__item-link {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

@include laptop-L {
  .product {
    &__img img {
      max-height: 100%;
      height: auto;
    }
  }
}

@include laptop {
  body {
    font-size: 18px;
    line-height: 25px;
  }

  .header {
    padding-top: 15px;
  }

  .link {
    padding: 15px 20px;
  }

  // .video-padding-top {
  //   padding-top: 180px;
  // }

  .header {
    &__link {
      transform: translate(0);
    }
  }

  .logo img{
    max-width: 250px;
  }

  .video {
    &__box {
      height: 300px;
      padding: 15px 20px;

      video {
        padding: 15px 20px;
      }
    }
  }

  .info {
    &__title {
      font-size: 40px;
      line-height: 55px;
      padding-bottom: 30px;
    }

    &__welcome-text {
      font-size: 21px;
    }

    &__title-accent {
      &::before {
        bottom: -30px;
        right: 0;
      }
    }

    &__box {
      justify-content: center;
    }

    &__link-phone {
      padding: 15px 20px;
    }
  }

  .partners {
    &__images {
      flex-wrap: wrap;
    }
    &--second { 
      .partners__img:not(:last-child) img {
          margin-right: 10px;
      }
    }
  }

  .brands {
    &__accent-text {
      margin-bottom: 40px;
    }
  }

  .product {
    &__img-box {
      margin-top: 50px;
    }
  }

  .achievements,
  .product,
  .pricing,
  .faq {
    padding: 50px 0;
  }

  .brands {
    padding-bottom: 50px;
  }

  .pricing {
    &__item {
      // width: 45%;
    }

    &__action {
      display: block;
      text-align: center;
    }

    &__action-link {
      margin-left: 0;
      margin-top: 5px;
    }

    &__item-title {
      font-size: 23px;
    }

    &__items {
      margin-bottom: 25px;
    }
    &__item-num {
      font-size: 20px;
    }

    &__list-item {
      font-size: 16px;
    }

    &__item-billed {
      margin-bottom: 25px;
    }

    &__item-range {
      font-size: 22px;
      margin-bottom: 10px;
    }

    &__item-price {
      font-size: 40px;
      line-height: 57px;
    }

    &__item-price__num {
      &::before {
        font-size: 22px;
        line-height: 44px;
      }
    }

    &__items .pricing__item {
      width: 48%;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .faq {
    &__title {
      margin-bottom: 40px;
    }

    &__item-title {
      font-size: 22px;
    }

    &__item:not(:last-child) {
      margin-bottom: 25px;
    }

    &__items {
        margin-bottom: 50px;
    }
  }

  .achievements{
    &__item-num {
      font-size: 60px;
      line-height: 77px;
    }
    &__item-text {
      font-size: 25px;
    }
  }
}

@include tablet-L {
  .partners{
    &__img,
    &--second .partners__img {
      display: flex;
      justify-content: center;
      width: 33.333%;

      &:nth-child(3n) img {
        margin-right: 0;
      }
    }
  }

  .info {
    &__title {
      font-size: 30px;
      line-height: 40px;
    }
  }
}

@include tablet {
  .second-title {
    font-size: 30px;
  }

  body {
    font-size: 16px;
  }

  // .video-padding-top {
  //   padding-top: 125px;
  // }

  .header-padding-top {
    padding-top: 80px;
  }
  .header {
    &__link {
      padding: 10px 15px;
    }
    &__link-ic {
      margin-left: 10px;
    }
  }

  .logo img {
    max-width: 175px;
  }
  .customers {
    &__inner {
      min-width: 350px;
      justify-content: center;
      margin: 0 15px;
    }
    &__text {
      padding-right: 5px;
      padding-left: 0;
    }
    .stars {
      justify-content: center;
      margin-bottom: 10px;
      width: 100%;
    }
  }

  .pricing {
    &__items {
      display: block;
    }

    &__items .pricing__item {
      max-width: 100%;
      margin-right: 0;
      width: 100%;
    }
  }
}

@media (max-width: 570px) {
  .info {
    &__title {
      font-size: 27px;
      line-height: 31px;
    }
  }
}

@include portrait-phones{

  .video-padding-top {
    padding-top: 38.4%;
  }

  .video {
    margin-bottom: -40.4%;

    &__box {
      padding: 8px;
      height: 185px;

      video {
        padding: 8px;
      }
    }
  }

  .header {
    &__link-ic {
      display: none;
    }
  }
  .info {
    &__box {
      display: block;
    }

    &__box-link {
      margin-bottom: 10px;
      min-width: 236px;
    }

    &__link-phone {
      width: fit-content;
      margin: 0 auto;
      padding: 15px 64px;
    }
  }
  .achievements {
    &__inner{
      display: block;
    }

    &__item{
      margin-right: 0;
    }
  }
  .customers {
    &__inner {
      display: block;
      min-width: auto;
    }
    &__images {
      justify-content: center;
    }
    &__text {
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .pricing {
    &__items {
      padding: 0;
    }
  }

  .logo img {
      max-width: 150px;
  }
}

@media (max-width: 400px) {

  .partners{
    &__img,
    &--second .partners__img {
      width: 45%;
      margin-right: 0;
      margin-bottom: 5px;
      justify-content: start;

      &:nth-child(2n) img {
        margin-right: 0;
      }

      &:nth-child(even) {
        justify-content: end;
      }

      &:nth-child(odd) {
        margin-right: 5px;
      }
    }
  }
}
