@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "components/header";
@import "components/footer";

.first {
  min-height: 1212px;
  background-image: url("@img/icons/multi/spriteMulti.svg#bg");

  @extend %bg;
}

.info {
  text-align: center;

  &__welcome-text {
    text-align: center;
    font-size: 25px;
    color: var(--default-color);
    margin-bottom: 19px;

    @extend %inter-semibold;
  }

  &__break-text {
    display: block;
  }

  &__welcome-ic {
    color: transparent;
    text-shadow: 0 0 1px #fff;

    &::before {
      content: attr(title);
      position: absolute;
      text-shadow: 0 0 0 #000;
    }
  }

  &__title {
    padding-bottom: 73px;
    letter-spacing: -2.8px;
    font-size: 70px;
    line-height: 85px;
    color: #fff; 
    
    @extend %inter-bold;
  }

  &__title-accent {
    position: relative;
    white-space: nowrap;

    &::before {
      content: '';
      position: absolute;
      width: 113%;
      height: 100%;
      bottom: -60px;
      right: -64px;
      background-image: url("@img/icons/multi/spriteMulti.svg#decor_path_line");

      @extend %bg;
    }
  }

  &__text {
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    line-height: 24px;
    color: #fff;
    margin-bottom: 40px;
  }

  &__text-accent {
    display: inline-block;
    color: var(--accent-color);
  }

  &__box {
    display: flex;
    justify-content: space-between;
    max-width: 811px;
    margin: 0 auto;
  }

  &__link-phone {
    position: relative;
    display: inline-block;
    padding: 10.5px 104px 10.5px 107px;
    display: flex;
    align-items: center;
    height: 51px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    color: #fff;
  }

  &__link-phone-ic {
    margin-right: 10px;
    width: 22px;
    height: 22px;
    fill: var(--accent-color);
  }

  &__box-link {
    margin-right: 10px;
  }
}

.brands {
  padding-bottom: 101px;
  &__inner {
    text-align: center;
  }

  &__text-accent {
    @extend %inter-bold;
  }

  &__text-accent,
  &__text  {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1.2px;
  }

  &__text {
    margin-bottom: 37px;
  }

  &__text-caption {
    margin-bottom: 30px;
    letter-spacing: 0;

    &--second {
      margin-bottom: 41px;
    }

  }

  &__accent-text {
    margin-bottom: 102px;
    @extend %inter-bold;
  }
}

.achievements {
  padding: 50px 0 8px;
  background-color: #313131;
  &__container {
    padding-left: 153px;
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    text-align: center;     
    margin-right: 20px;
    margin-bottom: 20px;

    &:nth-child(3n) {
      margin-right: 0;
    }
    
    @extend %inter-bold;
  }

  &__item-num {
    font-size: 80px;
    line-height: 97px;
    color: var(--accent-color);
  }

  &__item-text {
    font-size: 30px;
    line-height: 36px;
    color: #fff;
  }

  &__item-box {
    margin-top: 10px;
    margin-left: 8px;
    display: flex;
    justify-content: center;
  }

  &__item-img {
    img {
      width: 22px;
      height: 22px;
      object-fit: cover
    }

    &:not(:last-child) img {
      margin-right: 12px;
    }
  }
}

.product {
  padding: 105px 0 78px;
  &__inner {
  }

  &__text {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -1.2px;
    margin: 0 auto;
    &--accent  {
      @extend %inter-bold;
    }
  }

  &__img-box {
    position: relative;
    margin-top: 99px;
    box-shadow: 0px 0px 20px #0000001C;
    overflow: hidden;

    &:hover .product__img--hover {
      opacity: 1;
      z-index: 10;
      transition: ease 0.3s opacity;
    }
  }

  &__img {
    transition: ease 0.3s opacity;
    img {
      display: block;
      margin: 0 auto;
      object-fit: cover;
      object-position: top;
      border-radius: 5px;
    }
  }

  &__img--hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 790px;
    opacity: 0;
    z-index: -1;
    transition: ease 0.3s opacity;
  }
}

.pricing {
  padding: 103px 0 100px;
  background-color: #F8F8F8;

  &__info {
    text-align: center;
  }

  &__text {
    max-width: 1289px;
    text-align: start;
    letter-spacing: 0;
    margin: 0 auto 31px 40px;
  }

  &__text-accent {
    margin: 0 auto;
    text-align: center;
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto 30px;
    padding: 9px 14px;
    border-radius: 5px;
    background-color: #fff;
    width: fit-content;
  }

  &__toggle-box {
    position: relative;
	}

  &__toggle-input {
    &:checked ~ .pricing__toggle-checkbox {
      background-color: var(--accent-color);
      transition: ease 0.3s background-color;

      &::after {
        right: 1px;
        left: auto;
      }
    }

    @extend %checkbox-hidden;
  }

  &__toggle-checkbox {
    display: block;
    position: relative;
    width: 53px;
    height: 27px;
    border-radius: 18px;
    background-color: #918c8c;
    cursor: pointer;
    transition: ease 0.3s background-color;

    &::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      top: 1px;
      left: 1px;
      right: auto;
      border-radius: 50%;
      background-color: #fff;
    }
  }

  &__text-accent {
    margin-bottom: 24px;
    @extend %inter-bold;
  }

  &__toggle-text {
    margin-right: 10px;
  }

  &__toggle-checkbox {
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 47px;
    padding: 0 34px;

    .pricing__item {
      width: 30.333%;
      margin-right: 50px;
      margin-bottom: 20px;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 37px 69px;
    box-shadow: 0px 0px 15px #0000001C;
    background-color: #fff;
    border-radius: 20px;
    max-width: 465px;
    text-align: center;

    &--popular {
      position: relative;
      border: 1px solid var(--accent-color);
      overflow: hidden;

      .pricing__item-link {
        background-color: var(--accent-color);
        color: #fff;
      }

      &::after {
        content: 'most popular';
        position: absolute;
        padding: 5px 8px;
        right: 0;
        top: 0;
        color: #fff;
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
        border-radius: 0px 19px 0px 5px;
        background-color: var(--accent-color);
        @extend %inter-regular;
      }
    }
  }

  &__item-billed {
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    margin-bottom: 40px;
  }

  &__item-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
    @extend %inter-bold;
  }

  &__item-text {
    display: block;
    margin-bottom: 34px;
  }

  &__item-num {
    display: block;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
    @extend %inter-bold;
  }

  &__list {
    flex: 1 1 auto;
    margin-bottom: 43px;
  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__item-price {
    display: block;
    margin-left: 17px;
    font-size: 80px;
    line-height: 97px;
    letter-spacing: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
  }

  &__item-price__num {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    @extend %inter-bold;

    &::before {
      content: '$';
      align-self: flex-start;
      font-size: 30px;
      line-height: 59px;
      margin-left: 4px;
      color: #C4C4C4;
      @extend %inter-bold;
    }

    &::after {
      content: '/';
      bottom: 0;
      vertical-align: text-top;
      font-size: 30px;
      line-height: 36px;
      color: #C4C4C4;
      margin-bottom: 10px;
      @extend %inter-regular;
    }
  }

  &__item-price--custom {
    margin-bottom: 40px;
    &::before,
    &::after {
      display: none;
    }
  }

  &__item-range {
    font-size: 24px;
    line-height: 29px;
    color: #C4C4C4;
    margin-bottom: 17px;
    @extend %inter-regular;
  }

  &__item-link {
    display: block;
    padding: 8px 70px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    color: var(--accent-color);
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    max-width: 906px;
    margin: 0 auto;
    padding: 18px;
    background-color: #E5E5E5;
    border-radius: 5px;
  }

  &__action-accent {
    display: inline-block;
    margin: 0 6px;
    @extend %inter-bold;
  }

  &__action-link {
    display: block;
    margin-left: 30px;
    color: #FF6F00;
    @extend %inter-bold; 
  }
}

.faq {
  padding: 118px 0 100px;
  &__title {
    margin-bottom: 100px;
  }
  .grow {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
  }

  &__items {
    margin-bottom: 99px;
  }

  &__item {
    border-bottom: 2px solid #313131;
    padding-bottom: 9px;
    overflow: hidden;
  
    &:not(:last-child) {
      margin-bottom: 49px;
    }

    &.open {
      border-color: #FF6F00;
      padding-bottom: 14px;
      cursor: pointer;

      .faq__item-title {
        color: var(--accent-color);
        transition: ease 0.2s color;
      }

      .faq__item-ic {
        stroke: var(--accent-color);
        transform: rotate(90deg);
        transition: ease 0.2s color, ease 0.2s transform;
      }
    }
  }

  &__item-box {
    position: relative;
    display: flex;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
  }

  &__item-title {
    font-size: 30px;
    line-height: 36px;
    transition: ease 0.3s color;

    @extend %inter-bold;
  }

  &__item-ic {
    position: absolute;
    right: 0;
    top: 10px;
    fill: none;
    stroke: #918c8c;
    width: 25px;
    height: 25px;
    transition: ease 0.3s color, ease 0.3s transform;
  }

  &__item-text {
    padding-top: 19px;
    max-width: 89%;
  }

  &__link {
    display: block;
    margin: 0 auto;
    padding-top: 13px;
    width: fit-content;
  }
}



@import "media";
